# package provider

python-dotenv

langchain
langchain-core
langchain-community




#llm provider

langchain-groq
langchain-text-splitters

# vector store 

langchain-qdrant
qdrant-client



# notebook 

jupyter
ipykernel

# web app

streamlit